.round-border
    margin: auto
    display: flex
    justify-content: center
    align-items: center
    width: 150px
    height: 150px
    border-radius: 50%
    border: 15px solid #1097f1
    

    